<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<div id="flex2">
    <h1 align="center" style="background-color: rgb(236, 228, 204); border-radius: 10px; font-style: italic;">
    AB Madlib</h1>
</div>

<body>
    <div id="flex">
        <h1>

            
            <!-- madlib with input for user -->
        </h1>
    </div>
</body>
</html>